body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.content-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.title-main {
    font-size: 140px;
    font-weight: 600;
    transition: 0.5s;
}

.title-main {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

.link-main {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    position: relative;
    top: 20px;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.link-main:hover {
    background-color: white;
    color: black;
}

.features-container {
    position: relative;
    min-height: 100vh;
    padding-top: 100vh;
    background-color: transparent;
    z-index: -1;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.feature {
    text-align: center;
    margin: 20px;
    flex: 0 0 200px;
}

.feature h2 {
    margin-bottom: 10px;
}

.feature img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.about-link {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    background-color: black;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.about-link:hover {
    background-color: white;
    color: black;
}

.blurb-main {
    color: white;
    font-weight: 600;
}
