.navbar-brand {
  font-family: "EB Garamond", serif;
}

.navbar-collapse ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  font-size: 18px;
  font-weight: bold;
}
