
.form-control-lg {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    font-weight: 900;
    width: 100%;
    box-sizing: border-box;
}

.btn-success,
.btn-primary {
    margin-left: 10px;
}

#sortSelect {
    margin-left: 10px;
}

.btn-outline-secondary {
    border-color: #6c757d;
    color: #6c757d;
}

.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: white;
}

.recipe-list {
    margin-top: 20px;
    padding: 10px;
    background-color: #8e8b8b;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.recipe-link {
    display: block;
    padding: 5px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #8e8b8b;
}

.recipe-link:hover {
    background-color: #f0f0f0;
    color: black;
}

.recipe-title {
    color: white;
}

.flex-container {
    display: flex;
    justify-content: space-between;
  }

  .header-section {
    flex: 1;
  }

  .surprise-section,
  .card-search {
    max-width: 1em;
    margin: 0 auto;
    max-width: 75vh;
    margin-top: 10px;
    margin-left: 1rem;
    border-radius: 5px;
  }

.search-form,
.sort-form,
.reset-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.header {
    background-color: #8e8b8b;
    padding: 10px;
    height: 32vh;
    overflow: auto;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reset-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  .card-search {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
